:80 {
    # Todas las rutas de la API las mandamos al contenedor del backend
    handle /api/* {
        reverse_proxy backend:4000
    }
    
    # Todo el resto (la página web) lo mandamos al contenedor del frontend
    handle {
        reverse_proxy frontend:80
    }
}
